<ion-view title="Edit" hide-back-button="true" cache-view="false" nav-transition="none" id="page11">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button icon No Icon" ng-click="performAction()"> {{options.actionText}}</button>
  </ion-nav-buttons>
  <ion-content padding="false" scroll="false" class="has-header">
    <div id="edit-container6" class="new-note-container">
      <form id="edit-form10" class="list note-form" ng-if="options.editing">
        <label class="item item-input" id="edit-textarea6">
          <span class="input-label"></span>
          <textarea placeholder="" ng-model="data.note">
            {{data.note}}
          </textarea>
        </label>
      </form>
      <div
        note-presenter="data"
        ng-if="!options.editing"
        class="show-list-numbers-and-dots note-form note-form-display"
      ></div>
    </div>
  </ion-content>
</ion-view>
