<ion-view title="Login" hide-back-button="true" cache-view="false" id="page6">
  <ion-content padding="true" scroll="false" class="has-header">
    <form id="login-form4" class="list">
      <div id="login-markdown2" ng-if="error.length" class="show-list-numbers-and-dots error-box">
        <p style="color:#000000;">{{error}}</p>
      </div>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input4">
          <span class="input-label">Email</span>
          <input type="text" placeholder="" ng-model="data.email">
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="data.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button2" ng-click="login()" ng-disabled="!data.email.length || !data.password.length" class="button button-dark  button-block">Log in</button>
      <a ui-sref="tabsController.signup" id="login-button3" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>