<ion-view
  title=""
  hide-back-button="true"
  cache-view="false"
  nav-transition="none"
  id="page8"
>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button icon No Icon" ng-click="update()" ng-disabled="!data.note"> Save</button>
  </ion-nav-buttons>
  <ion-content padding="false" scroll="false" class="has-header">
    <div id="newPadd-container4" class="new-note-container">
      <form id="newPadd-form9" class="list note-form">
        <label class="item item-input" id="newPadd-textarea5" name="new-padd">
          <span class="input-label"></span><textarea placeholder="Enter note..." ng-model="data.note"></textarea></label>
      </form>
    </div>
  </ion-content>
</ion-view>
