<ion-view title="Settings" hide-back-button="true" cache-view="false" nav-transition="none" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="profile-image">
      <img src="img/ntC2MyPwTzKhKzvYdN3D_profile_image.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="settings-heading1" style="color:#000000;text-align:center;">{{user.displayName}}</h3>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <button id="settings-button5" ng-click="logout()" class="button button-assertive  button-block button-clear">Logout</button>
  </ion-content>
</ion-view>